data/*.csv filter=lfs diff=lfs merge=lfs -text
image.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
app/static/images/**/*.png filter=lfs diff=lfs merge=lfs -text
app/static/images/**/*.jpg filter=lfs diff=lfs merge=lfs -text
app/static/images/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
app/static/images/**/*.gif filter=lfs diff=lfs merge=lfs -text
app/static/images/movies/**/* filter=lfs diff=lfs merge=lfs -text
disney_logo.png filter=lfs diff=lfs merge=lfs -text
fireworks.gif filter=lfs diff=lfs merge=lfs -text
new-ideas-icon.png filter=lfs diff=lfs merge=lfs -text
disney_logo_icon.png filter=lfs diff=lfs merge=lfs -text
