body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #b3cde0, #dec1ff); /* Soft pastel blue to lavender gradient */
    color: #333;
    height: 100%; /* Ensure full height */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f6f6ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #444;
}

.search-box {
    margin: 20px 0;
}

/* Align inputs and button for Top Movies in a row */
.search-box-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px; /* Add space between elements */
    margin-bottom: 10px;
}

.search-box h2 {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 60%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #6fa3ef; /* Light blue button */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    height: 40px; /* Match button height with input field */
    margin-left: 2px;
    
}

button:hover {
    background-color: #4a90e2; /* Slightly darker blue on hover */
    transform: scale(1.05);
}

/* Styles for the filter button */
.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6fa3ef;
    padding: 0;
    margin-left: 1px;
    border-radius: 5px;
    height: 40px; /* Match filter button height with input field */
    width: 30px; /* Keep the filter button square */
}
.filter-button img{
    width: 17px;
    height: 17px;
}
.filter-button:hover {
    background-color: #4a90e2; /* Slightly darker blue on hover */
    transform: scale(1.1);
}

.filter-tooltip{
    width: 40px; /* Width of the tooltip */
    padding: 1px; /* Some padding */
    background-color: #ffffff; /* Dark background */
    color: #6fa3ef; /* White text */
    font-size: 10px;
    font-weight: bold;
    text-align: center; /* Center the text */
    border-radius: 5px; /* Rounded corners */
    position: absolute; /* Absolute positioning */
    bottom: -45%; 
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    transition: opacity 0.3s; /* Fade effect */
    z-index: 1; 
}

/* Ensure the filters row is right under the search bar */
#filtersRow {
    display: none;
    margin-top: 10px;  /* Space between the search box and filters */
    align-items: center;  /* Center the filters under the search bar */
    margin-left: 6%; /* Align filters with the start of the text input */
    gap: 10px;  /* Space between filters */
    position: relative;  
}

/* Style for the filter dropdown */
#filtersRow select {
    width: 120px;
    padding: 4px 0px 8px 8px; /* Adjusted right padding */
    font-size: 15px;
    border-radius: 5px;
    border: none; /* No border */
    background-color: #f6f6ff; /* Match the container's background */
    color: #444444d6;  /* Text color */
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Smooth hover effect */
}


/* Enlarge the dropdown on hover */
#filtersRow select:hover {
    color: black;
}


.title {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
}

/* Carousel styles */
.carousel-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    margin: 20px auto;
    transform: translateY(-10%);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fbf7ff;
    border: 1px solid #f8f8fb;
    border-radius: 5px;
    text-align: left;
}

.carousel-control {
    position: absolute;
    top: 50%;
    background-color: rgb(0 0 0 / 21%);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control.prev {
    left: 0;
    background-color: rgb(0 0 0 / 21%);
}

.carousel-control.next {
    right: 0;
    background-color: rgb(0 0 0 / 21%);
}

.movie-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.movie-image {
    width: 100%; /* Adjust width to fill the container */
    height: auto; /* Keep aspect ratio */
}

.movie-release {
    margin-bottom: 20px; /* Adjust the value to control the space */
}

.movie-genre, .movie-tags {
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 10px;
}

.movie-summary {
    margin-top: 10px;
}

/* New styles for movie presentation */
.movie-container {
    display: flex; /* Use flexbox for horizontal layout */
    align-items: flex-start; /* Align items to the start */
    padding: 20px; /* Padding around the movie container */
    border-bottom: 1px solid #fffcfc; /* Divider between movies */
}

.movie-image-container {
    flex: 1; /* Take up 1 part of the available space */
    padding: 0; /* Remove padding inside the image container */
    border: 2px solid black; /* Change frame color to black */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflow */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.movie-image-container img {
    width: 100%; /* Set image width to 100% of the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove bottom space (if any) */
}

.movie-details {
    flex: 2; /* Take up 2 parts of the available space */
    padding: 10px; /* Padding inside the details */
    text-align: left; /* Align text to the left */
}

/* Add this CSS to control the logo size */
.logo {
    max-width: 20%; /* Set a maximum width relative to the container */
    height: auto; /* Keep the aspect ratio */
    margin: 0 auto; /* Center the logo horizontally */
    display: block; /* Ensure it's treated as a block element for centering */
}

/* Adjustments for mobile responsiveness */
@media (max-width: 600px) {
    .logo {
        max-width: 40%; /* Increase size on smaller screens */
    }
}

/* Container for tags and Show More button */
.tag-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the tags horizontally */
    margin-top: 15px;
    margin-bottom: 20px;
}

/* Center the tags in the row */
.tag-container {
    display: flex;
    justify-content: center; /* Center the tags */
    flex-wrap: wrap; /* Allow tags to wrap to the next line if necessary */
}

/* Individual tag styling */
.tag-container span.tag {
    padding: 5px 5px;
    background-color: transparent; /* No background color */
    border: none; /* No border */
    cursor: pointer;
    display: inline-block;
    color: #988e8e; /* Text color */
    font-size: 13px;
    font-weight: bold;
    position: relative; /* Position relative for separator placement */
}


.tag-container span.tag:active{
    color: black
}

.tag-container span.tag:hover{
    color: black
}

.tag-container span.tag.active-tag {
    color: black;  /* Change to your desired active text color */
}

/* Dot separator styling */
.tag-container span.tag:not(:first-child)::before {
    content: "●"; /* Cute circle separator */
    color: #6fa3ef; /* Circle color */
    margin-right: 10px; /* Space between dot and tag */
    margin-bottom: 3px;
    font-size: 15px; /* Adjust size of the circle */
    display: inline-block; /* Ensure it behaves like inline */
    vertical-align: middle; /* Align vertically with the text */
}


/* Tooltip container */
.tooltip-container {
    position: relative; /* Position for the tooltip */
    display: inline-block; /* Inline block for proper placement */
}

/* Circle style for the plus sign */
.plus-circle {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the plus sign */
    width: 20px; /* Width of the circle */
    height: 20px; /* Height of the circle */
    border-radius: 50%; /* Make it circular */
    background-color: #6fa3ef; /* Blue color for the circle */
    color: white; /* White color for the plus sign */
    font-weight: bold; /* Make the plus sign bold */
    font-size: 14px; /* Size of the plus sign */
    transition: transform 0.2s; /* Smooth transition for hover effect */
    cursor: pointer; /* Change cursor to pointer */
    margin-top: 10px;
    margin-bottom: 30px;
}

.plus-tooltip{
    width: 70px; /* Width of the tooltip */
    background-color: #ffffff; /* Dark background */
    color: #6fa3ef; /* White text */
    font-size: 8px;
    text-align: center; /* Center the text */
    border-radius: 5px; /* Rounded corners */
    padding: 2px; /* Padding */
    position: absolute; /* Absolute positioning */
    z-index: 1; 
    bottom: -125%; /* Position under the circle */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    opacity: 0; /* Make it transparent */
    transition: opacity 0.3s; /* Fade effect */
}

/* Hover effect for the plus circle */
.plus-circle:hover {
    transform: scale(1.4); /* Enlarge on hover */
}

/* Tooltip styles */
.tooltip{
    visibility: hidden; /* Hide by default */
}

/* Show the tooltip on hover */
.filter-button:hover .tooltip,
.plus-circle:hover .tooltip {
    visibility: visible; /* Show the tooltip */
    opacity: 1; /* Fully visible */
}

/* Tooltip icon style */
.tooltip-icon {
    width: 16px; /* Adjust icon size */
    height: 16px; /* Adjust icon size */
    margin-left: 5px; /* Space between text and icon */
    vertical-align: middle; /* Align vertically */
}


/* Adjustments for mobile responsiveness */
@media (max-width: 600px) {
    .tag-container {
        flex-direction: column; /* Stack tags vertically on smaller screens */
    }
}