@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satisfy', cursive;
    background: linear-gradient(to right, #64a9dc, #ae80e1); /* Soft pastel blue to lavender gradient */
    color: #333;
    height: 100%; /* Ensure full height */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #f4d9f6;
    font-size: 35px;
    font-family: 'Satisfy', cursive;
}

.search-box {
    margin: 20px 0;
    background-color: transparent;
}

.search-box-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

input[type="text"] {
    padding: 10px 10px 10px 45px; 
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 20px; /* Rounded corners */
    width: 80%; 
    transition: border-color 0.3s;

    
}

.search-icon {
    position: absolute; 
    left: 85px; 
    font-size: 24px; 
    color: #9b9b9c; 
    cursor: default; 
}

.tune-icon {
    position: absolute; 
    right: 85px;
    font-size: 24px; 
    color: #9b9b9c; 
    cursor: pointer; 
}


.tune-icon:hover {
    color: #4a90e2; /* Change color on hover */
}


/* Filters row styling */
#filtersRow {
    display: none; /* Use flexbox for alignment */
    margin-top: 10px;  
    align-items: center;  
    margin-left: 6%; 
}

/* Base styles for each filter container */
.filter-container {
    margin: 0 5px; /* Add space between filters */
}

/* Specific styles for each filter if needed */
#date-filter-container select {
    
}

#sorting-container select {
    
}

#n-results-container select {
    
}

/* Style for the filter dropdown */
#filtersRow select {
    width: 100%; /* Full width within the container */
    padding: 4px 8px; 
    background-color: transparent;
    font-size: 15px;
    border-radius: 5px;
    border: none; 
    color: #444444d6;  
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Smooth hover effect */
}

/* Hover effect for dropdown */
#filtersRow select:not(.open):hover {
    color: black;
}

.title {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    font-family: 'Satisfy', cursive;
}

/* Center align Swiper slides */
.swiper-wrapper {
    justify-content: center;
    width:80%;
}
.swiper-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding: 0; /* Remove padding */
    margin: 0 auto; /* Center the container within the viewport */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 200px;
    height: 70%;
    margin: 0;
    padding: 30px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.card:hover {
    transform: translateY(10px);
}

.card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(59, 72, 164, 0.6) 1%,
      rgba(94, 186, 180, 0.9) 98%
    );
    transition: all 0.5s;
    opacity: 0;
    border-radius: 20px;
  }

  .card:hover:after {
    opacity: 1;
  }

.card img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.card .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.5s;
    user-select: none;
    height: 100%; /* Take the full height of the card */
    overflow-y: auto; /* Allow vertical scrolling */
    padding: 20px;
    text-align: left; /* Align text to the left */
    font-size: 14px; /* Set a smaller font size */
    line-height: 1.4; /* Adjust line height for readability */

  }
  ::-webkit-scrollbar {
    appearance: none;
    background: transparent; 
  }

.card .info h1{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
}

.card .info p{
   font-size: 13px;
   line-height: 1.4;
    font-weight:bold;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0);
}

.swiper-pagination-bullet {
    background-color: #4a90e2;
}

.swiper-button-next,
.swiper-button-prev {
    color: #4a90e2;
}


.carousel-control {
    position: absolute;
    top: 50%;
    background-color: rgb(0 0 0 / 21%);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control.prev {
    left: 0;
    background-color: rgb(0 0 0 / 21%);
}

.carousel-control.next {
    right: 0;
    background-color: rgb(0 0 0 / 21%);
}


/* Control the logo size */
.logo {
    max-width: 20%; 
    height: auto; /* Keep the aspect ratio */
    margin: 0 auto; /* Center the logo horizontally */
    display: block; 
}

/* Adjustments for mobile responsiveness */
@media (max-width: 600px) {
    .logo {
        max-width: 40%; /* Increase size on smaller screens */
    }
}

/* Container for tags and Show More button */
.tag-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the tags horizontally */
    margin-top: 15px;
    margin-bottom: 20px;
}

/* Center the tags in the row */
.tag-container {
    display: flex;
    justify-content: center; /* Center the tags */
    flex-wrap: wrap; 
}

/* Individual tag styling */
.tag-container span.tag {
    padding: 5px 5px;
    background-color: transparent; /* No background color */
    border: none; /* No border */
    cursor: pointer;
    display: inline-block;
    color: #736e6e; /* Text color */
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    position: relative; 
}


.tag-container span.tag:active{
    color: black
}

.tag-container span.tag:hover{
    color: black
}

.tag-container span.tag.active-tag {
    color: black;  /* Change to active text color */
}

/* Dot separator styling */
.tag-container span.tag:not(:first-child)::before {
    content: "●"; /* Circle separator */
    color: #6f81ef; /* Circle color */
    margin-right: 10px; /* Space between dot and tag */
    margin-bottom: 3px;
    font-size: 15px; 
    display: inline-block; 
    vertical-align: middle; 
}


/* Tooltip container */
.tooltip-container {
    position: relative; 
    display: inline-block; 
}

/* Circle style for the plus sign */
.plus-circle {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the plus sign */
    width: 20px; 
    height: 20px; 
    border-radius: 50%; /* Make it circular */
    background-color: #6fa3ef; /* Blue color for the circle */
    color: white; /* White color for the plus sign */
    font-weight: bold; 
    font-size: 14px; 
    font-family: Arial, sans-serif;
    transition: transform 0.2s; /* Smooth transition for hover effect */
    cursor: pointer; 
    margin-top: 10px;
    margin-bottom: 30px;
}

.plus-tooltip{
    width: 70px; 
    background-color: #ffffff; 
    color: #6fa3ef; 
    font-size: 8px;
    text-align: center;
    border-radius: 5px; /* Rounded corners */
    padding: 2px; 
    position: absolute; 
    z-index: 1; 
    bottom: -125%; /* Position under the circle */
    left: 50%; 
    transform: translateX(-50%); /* Adjust for centering */
    opacity: 0; /* Make it transparent */
    transition: opacity 0.3s; /* Fade effect */
}

/* Hover effect for the plus circle */
.plus-circle:hover {
    transform: scale(1.4); /* Enlarge on hover */
}

/* Tooltip styles */
.tooltip{
    visibility: hidden; /* Hide by default */
}

/* Show the tooltip on hover */
.plus-circle:hover .tooltip {
    visibility: visible; /* Show the tooltip */
    opacity: 1; /* Fully visible */
}

/* Tooltip icon style */
.tooltip-icon {
    width: 16px; 
    height: 16px; 
    margin-left: 5px; /* Space between text and icon */
    vertical-align: middle; 
}


/* Adjustments for mobile responsiveness */
@media (max-width: 600px) {
    .tag-container {
        flex-direction: column; /* Stack tags vertically on smaller screens */
    }
}