<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disney Movie Recommender</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/images/disney_logo.png">
</head>
<body>
    <div class="container">

        <!-- Add image at the top -->
        <img src="/static/images/disney_logo.png" alt="Disney Logo" class="logo">

        <h1>Disney Movie Recommender</h1>

        <div class="search-box">
            <div class="search-box-inline">
                <input type="text" id="searchText" placeholder="Enter text to find a movie">
                
                <!-- Filters button on the right side of the search button -->
                <div class="tooltip-container">
                    <div class="filter-button" onclick="toggleFilters()">
                        <img src="/static/images/filter-icon.png" alt="Icon" class="image-button">
                        <span class="tooltip filter-tooltip">Filters</span>
                    </div>
                </div>
        
                <button onclick="searchMovie()">Search Movies</button>
            </div>
            
            <!-- Filters row (initially hidden) -->
            <div class="filters-row" id="filtersRow">
                <select id="year" name="year">
                    <option value="all_years">All years</option>
                    <option value="past_year">Past year</option>
                    <option value="past_decade">Past decade</option>
                </select>
            </div>
        </div>

        <!-- Tags and Show More container -->
        <div class="tag-wrapper">
            <div class="tag-container">
                <!-- Tags will be dynamically generated here -->
            </div>
            <div class="tooltip-container">
                <div class="plus-circle" onclick="showMoreTags()">
                    +<span class="tooltip plus-tooltip">New Ideas<img src="/static/images/new-ideas-icon.png" alt="Icon" class="tooltip-icon"></span>
                </div>
            </div>
        </div>

        <!-- Carousel for displaying movie results -->
        <div class="carousel-wrapper">
            <button class="carousel-control prev" onclick="prevSlide()">❮</button>
            <div class="carousel" id="carousel"></div>
            <button class="carousel-control next" onclick="nextSlide()">❯</button>
        </div>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
