<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags and links -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magical Movie Search</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/images/disney_logo.png">
    <!-- Material Icons and fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Satisfy&display=swap" rel="stylesheet">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="/static/images/disney_logo.png" alt="Disney Logo" class="logo">
            <div class="fireworks"></div> <!-- Fireworks effect div -->
        </div>
        <h1>Magical Movie Search</h1>

        <div class="search-box">
            <div class="search-box-inline">
                <!-- Search icon -->
                <span class="material-icons search-icon">search</span>
                <!-- Text input for search -->
                <input type="text" id="searchText" placeholder="Enter text to find a movie" onkeyup="checkEnter(event)">
                <!-- Tune icon -->
                <span class="material-icons tune-icon" onclick="toggleFilters()">tune</span>
            </div>
        
            <div class="filters-row" id="filtersRow">
                <!-- Date Filter Button -->
                <div class="filter-container" id="date-filter-container">
                    <button class="filter-button" onclick="toggleDateMenu()">Date Filter <span class="triangle">&#9660;</span></button>
                    <div class="filter-menu" id="dateMenu">
                        <div class="sort-options">
                            <div onclick="setDateFilter('all_years')">All years</div>
                            <div onclick="setDateFilter('past_year')">Past year</div>
                            <div onclick="setDateFilter('past_decade')">Past decade</div>
                        </div>
                    </div>
                </div>
                
                <!-- Sorting Button -->
                <div class="filter-container" id="sorting-container">
                    <button class="sort-button" onclick="toggleSortMenu()">Sort by <span class="triangle">&#9660;</span></button>
                    <div class="sort-menu" id="sortMenu">
                        <div class="sort-options">
                            <div onclick="sortBy('release_date')">Date</div>
                            <div onclick="sortBy('budget')">Budget</div>
                            <div onclick="sortBy('box_office')">Box Office</div>
                            <div onclick="sortBy('profit')">Profit</div>
                        </div>
                        <hr>
                        <div class="sort-order">
                            <div onclick="setSortOrder('ascending')">Ascending</div>
                            <div onclick="setSortOrder('descending')">Descending</div>
                        </div>
                    </div>
                </div>
            
                <!-- Results Limit Button -->
                <div class="filter-container" id="n-results-container">
                    <button class="filter-button" onclick="toggleResultsMenu()">Number of results <span class="triangle">&#9660;</span></button>
                    <div class="filter-menu" id="resultsMenu">
                        <div class="sort-options">
                            <div onclick="setResultsLimit('all')">All</div>
                            <div onclick="setResultsLimit('10')">10</div>
                            <div onclick="setResultsLimit('20')">20</div>
                            <div onclick="setResultsLimit('50')">50</div>
                        </div>
                    </div>
                </div>
                <div class="filter-container">
                    <button class="filter-button" onclick="showAllMovies()">Show All Movies</button>
                </div>
            </div>
        </div>

        <!-- Tag Section -->
        <div class="tag-wrapper">
            <div class="tag-container">
                <!-- Tags will be dynamically generated here -->
            </div>
            <div class="tooltip-container">
                <div class="plus-circle" onclick="showMoreTags()">
                    +<span class="tooltip plus-tooltip">New Ideas<img src="/static/images/new-ideas-icon.png" alt="Icon" class="tooltip-icon"></span>
                </div>
            </div>
        </div>

        <!-- Swiper Carousel -->
        <div class="swiper-container">
            <div class="swiper-wrapper" id="carousel">
                <!-- Dynamic slides will be inserted here by JavaScript -->
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
